:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit
}

menu,li,ol{
    list-style: none;
}

header{
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    padding: 4px 8px;
    transition: .5s;

}

header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8  px;
}

span{
    color: #f07807;
}

body{
    background-color: #fbf2e8;
    font-family: "Poppins", sans-serif;
}

main{
    
}

section{
    height: 100vh;
    padding: var(--default-padding);
}

.home{
    background-color: var(--secundary-color);
    background-image: url(./imagens/triangulos.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.cardapio{
    background-color: aqua;
}

.servicos{
    background-color: #f07807;
}

footer{
    height: 526px;
}