:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit
}

menu,li,ol{
    list-style: none;
}

header{
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    padding: 4px 8px;
    transition: .5s;

}

header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8  px;
}

span{
    color: #f07807;
}

body{
    background-color: #fbf2e8;
    font-family: "Poppins", sans-serif;
}

main{
    
}

section{
    height: 100vh;
    padding: var(--default-padding);
}

.home{
    background-color: var(--secundary-color);
    background-image: url(./imagens/triangulos.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.slogan{
    position: relative;
    bottom: 90px;
    width: 560px;
    font-size: 4rem;
    background-color: li;
    font-weight: 400;
}

.slogan span{
    color: var(--primary-color);
}

.container-slogan{
    display: flex;
    justify-content: center;
    align-items: end;
    font-style: italic;
    gap: 64px;
}

.container-pizzas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.pizza{
    position: relative;
    display: flex;
    align-items: end;
    overflow: hidden;


}

.add-pizza{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: 3px solid white;
    color: white;
    font-size: 2rem;
    display: grid;
    position: absolute;
    place-content: center;
    top: 0px;
    right: 0px;
    transition: .5s;
    opacity: 0; 
    z-index: 9;
}

.pizza:hover .add-pizza{
    opacity: 1;
}

.container-info{
    height: 36px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -36;
    border-radius: 0 0 12px 12px;
    opacity: 60%;
    transition: .5s;
}

.container-info p:nth-of-type(1){
    font-size: 12px;
    width: 102px;
    color: white;
}

.container-info span:nth-last-of-type(2){
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    color: white;
}

.pizza:hover .container-info{
    bottom: 0;
}

.pizza:hover{

}

.cardapio{
    background-color: aqua;
}

.servicos{
    background-color: #f07807;
}

footer{
    height: 526px;
}